@{
    // Layout = null;
}

<h1>About Page!</h1>

<p>This is educational web application made using ASP.NET Core MVC!</p>

<div class="my-3">
    <button type="button" class="btn btn-primary">Do Nothing!</button>
</div>

@for (int i = 0; i < 5; i++)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}