<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if(DateTime.Now.Second % 2 == 0)
    {
        <img width="105" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtyTatLdyowK4RKKWXZmhNSgtkpRdDO7ktlQ&s" alt="Coin" />
    }
    else
    {
        <img width="100" src="https://img.freepik.com/premium-vector/ukrainian-money-gold-coin-one-hryvnia-reverse-with-ukrainian-trident-coat-arms-ukraine_218319-8103.jpg" alt="Coin" />
    }
</div>
