@model Product

<h1>Create Product Form</h1>

<form class="row g-3" method="post" asp-action="Create">
    <div class="col-12">
        <label asp-for=Name class="form-label">Name</label>
        <input asp-for=Name required type="text" class="form-control" placeholder="Enter product name">
    </div>
    <div class="col-md-6">
        <label asp-for=Price class="form-label">Price</label>
        <div class="input-group">
            <input asp-for=Price min="0" step="0.01" type="number" class="form-control" placeholder="Enter product price">
            <span class="input-group-text">$</span>
        </div>
    </div>
    <div class="col-md-3">
        <label asp-for=Discount class="form-label">Discount</label>
        <div class="input-group">
            <input asp-for=Discount min="0" max="100" step="1" type="number" class="form-control" placeholder="Enter product discount">
            <span class="input-group-text">%</span>
        </div>
    </div>
    <div class="col-md-3">
        <label asp-for=Quantity class="form-label">Quantity</label>
        <input asp-for=Quantity min="0" type="number" class="form-control" placeholder="Enter product quantity">
    </div>

    <div class="col-12">
        <label asp-for=CategoryId class="form-label">Cateogory Id</label>
        <input asp-for=CategoryId type="number" class="form-control" placeholder="Enter product category id">
    </div>

    <div class="col-12 mb-3">
        <label asp-for=Description class="form-label">Description</label>
        <textarea asp-for=Description maxlength="10000" placeholder="Enter product description" class="form-control" rows="3"></textarea>
    </div>

    @* <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div> *@

    <div class="col-md-6">
        <a asp-action="Index" class="btn btn-dark w-100">
            <i class="bi bi-arrow-left"></i>
            Back
        </a>
    </div>
    <div class="col-md-6">
        <button type="submit" class="btn btn-success w-100">
            <i class="bi bi-plus-lg"></i>
            Create
        </button>
    </div>
</form>